body {
    margin: 0;
    padding: 0;
    display: flex;
}
@font-face {
    font-family: Norse-Bold;
    src: url(./Norse-Bold.otf);
}
.left {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 33.33vw;
    font-family: "Norse-Bold", sans-serif, serif;
    background-image: url(./photo-1585202900225-6d3ac20a6962.avif);
    background-size: cover;
}
.line {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 35%;
    width: 100%;    
    height: 150px;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.5);
    
}
.wrap {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

img{
    height: 80%;

}
h2 {
    font-size: 6em;
    color: white;
}
.bottom {
    margin-top: auto;
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    
}
.right {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: calc(2 * 33.33vw);
    background-color: rgba(249,250,252,255);
}
.top p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    font-weight: bold;
    color: black;
}
.top {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    margin-left: 5%;
    margin-top: 9%;
}
.middle {
    background-color: rgb(255, 255, 255);
    height: 30%;
    margin-top: 4%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    font-family: 'Courier New', Courier, monospace;
}
.midt h4 {
    font-size: 1.5em;
    
}
.formdiv {
    display: flex;
    margin-left: 5%;
    flex-wrap: wrap;
    
}
.cont {
    display: flex;
    flex-direction: row;
    gap: 10%;
    width: 100%;
}
.lft, .rgt {
    width: 100%;
}
.formdiv {
    width: 100%; 
    
    max-width: 1000px;
}
.lft div, .rgt div {
    display: flex;
    flex-direction: column;
    margin-bottom: 2px;
}
label {
    margin-bottom: 2px;
    
}
.lft input, .rgt input { 
    width: 350px;
    height: 26px;
}
input:invalid {
    border: 2px solid red;
  }
  
  input:valid {
    border: 2px solid black;
  }